
{% extends 'Auth/Base.html' %}
{% load static %}

{% block sources %}
  <link rel="stylesheet" href="{% static 'resources/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'resources/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'resources/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock %}

{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <h4 class="text-center display-4">System Access & Roles</h4>
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 offset-md-0">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#UserForm">
                        Add User
                    </button>
                </div>
            </div> 
            <!-- List of Accounts-->
            <div class="row mt-2">
                <div class="col-md-12 offset-md-0">
                  <!--Entity Table-->
        <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">System Users</h3>
  
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body" style="display: block;" id="examples1">
                <table class="table table-filter table-hover m-b-0">
                                <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Full Name</th>
                                            <th>Email</th>
                                            <th>Phone Number</th>
                                            <th>Role</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>                            
                                <tbody>
                                    <tr data-status="approved">
                                        <td>1</td>
                                        <td>Karangwa Donald</td>
                                        <td>k.donald@gnail.com</td>
                                        <td>0788293847</td>
                                        <td>Gate Cashier</td>
                                        <td><span class="badge badge-success">Approved</span></td>
                                        <td><button class="btn btn-warning mb-3" data-toggle="modal" data-target="#removeuser" style="color: #ffffff;"> <i class="zmdi zmdi-close"></i>View Profile</button></td>
                                        
                                    </tr>
                                    <tr data-status="approved">
                                        <td>1</td>
                                        <td>Kwizera Goliath</td>
                                        <td>k.td@gnail.com</td>
                                        <td>078824537</td>
                                        <td>Gate Cashier</td>
                                        <td><span class="badge badge-warning">Suspended</span></td>
                                        <td><button class="btn btn-warning mb-3" data-toggle="modal" data-target="#removeuser" style="color: #ffffff;"> <i class="zmdi zmdi-close"></i>View Profile</button></td>
                                        
                                    </tr>
                                </tbody>
                            </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer" style="display: block;">
              TOTAL Parked Cars : {{ total_accounts }}
            </div>
        </div>
                  <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
        </div>

        <!-- Modal Dialogs ========= --> 
    <!-- Default Size -->
    <!-- Default Size -->
    <form method="POST" action="users">
    {% csrf_token %}
    <div class="modal fade" id="UserForm" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="title" id="defaultModalLabel"> Add New User</h4>
                </div>
                <div class="modal-body"> 
                    <div class="col-sm-12">
                        <label for="sel1">Full Name</label>
                        <div class="form-group col-sm-12">                                    
                            <input id="NameField" name="Name" type="text" class="form-control" placeholder="Full Name">
                        </div>
                        <label for="sel1">Email</label>
                        <div class="form-group col-sm-12">                                   
                            <input id="EmailField" name="Email" type="text" class="form-control" placeholder="E-mail">
                        </div>
                        <label for="sel1">Password</label>
                        <div class="form-group col-sm-12">                                   
                            <input id="PasswordField" name="Password" type="password" class="form-control" placeholder="Password">
                        </div>
                        <label for="sel1">Phone Number</label>
                        <div class="form-group col-sm-12">                                   
                            <input id="PhoneNumField" name="PhoneNum" type="number" class="form-control" placeholder="Phone">
                        </div>
                        <label for="sel1">Role</label>
                        <div class="form-group col-sm-12">                                   
                            <input id="RoleField" name="RoleNum" type="text" class="form-control" placeholder="Phone">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary waves-effect">SAVE CHANGES</button>
                    <button type="button" class="btn btn-danger btn-simple waves-effect" data-dismiss="modal">CLOSE</button>
                </div>
            </div>
        </div>
    </div>
    </form> 
    </section>
  </div>

{% endblock %}

{% block script %}

<!-- jQuery -->
<script src="{% static 'resources/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'resources/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Select2 -->
<script src="{% static 'resources/plugins/select2/js/select2.full.min.js' %}"></script>
<!-- DataTables  & Plugins -->
<script src="{% static 'resources/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'resources/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'resources/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'resources/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'resources/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'resources/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'resources/plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'resources/plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'resources/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'resources/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>


<script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "colvis"]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });
  </script>

<script>
  $(function () {
    $('.select2').select2()
  });
</script>
{% endblock %}
