<div class="modal fade" id="SubcriptionFormModal" tabindex="-1" role="dialog">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title" id="SubscriptionFormModalLabel">Subscription Form</h4>
            </div>
            <form action="{% url 'subscription' %}"  method="POST">
            {% csrf_token %}
            <div class="modal-body"> 
                <div class="col-sm-12">
                    <input type="hidden" name="action" id="action" value="add">
                    <input type="hidden" name="action" id="SubscriptionFormAction" value="add">
                    {{ SubscriptionForm }}
                </div>
            </div>        
            <div class="modal-footer">
                <div class="col cancelform" >
                    <button type="button" class="btn btn-danger col-sm-12" data-dismiss="modal">Cancel</button>
                </div>
                <div class="col submitform" >
                    <button type="submit" id="SubmitSubscriptionFormButton" class="btn btn-primary col-sm-12">Proceed</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div> 