{% extends 'DashboardApp/Base.html' %} 
{% load static %} 
{% block sources %}
  <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}" />
  <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}" />
{% endblock %} 

{% block content %}

<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Settings</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-body row">
            <div class="card-body">
                <div class="row">
                    <div class="col-5 col-sm-3">
                    <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="vert-tabs-home-tab" data-toggle="pill" href="#vert-tabs-home" role="tab" aria-controls="vert-tabs-home" aria-selected="true">General</a>
                        <a class="nav-link" id="vert-tabs-profile-tab" data-toggle="pill" href="#vert-tabs-profile" role="tab" aria-controls="vert-tabs-profile" aria-selected="false">Dashboard</a>
                        <a class="nav-link" id="vert-tabs-gates-tab" data-toggle="pill" href="#vert-tabs-gates" role="tab" aria-controls="vert-tabs-gates" aria-selected="false">Gates</a>
                        <a class="nav-link" id="vert-tabs-messages-tab" data-toggle="pill" href="#vert-tabs-messages" role="tab" aria-controls="vert-tabs-messages" aria-selected="false">Notifications</a>
                        <a class="nav-link" id="vert-tabs-settings-tab" data-toggle="pill" href="#vert-tabs-settings" role="tab" aria-controls="vert-tabs-settings" aria-selected="false">Permissions</a>
                    </div>
                    </div>
                    <div class="col-7 col-sm-9">
                    <div class="tab-content" id="vert-tabs-tabContent">
                        <div class="tab-pane text-left fade show active" id="vert-tabs-home" role="tabpanel" aria-labelledby="vert-tabs-home-tab">
                            TO be updated shortly!
                        </div>
                        <div class="tab-pane fade" id="vert-tabs-profile" role="tabpanel" aria-labelledby="vert-tabs-profile-tab">
                            TO be updated shortly!
                        </div>
                        <div class="tab-pane fade" id="vert-tabs-gates" role="tabpanel" aria-labelledby="vert-tabs-gates-tab">
                          <div class="card-body p-0">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th style="width: 10px">#</th>
                                  <th>Name</th>
                                  <th>Status</th>
                                  <th>Camera</th>
                                  <th>Modify</th>
                                  <th>Remove</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for gate in gates  %}
                                <tr>
                                  <td>1.</td>
                                  <td>{{gate.name}}</td>
                                  <td>{{gate.status}}</td>
                                  <td>{{gate.camera_id}}</td>
                                  <td><button type="submit" class="btn btn-warning">Modify</button></td>
                                  <td><button type="submit" class="btn btn-danger">Remove</button></td>
                                </tr>
                                {% endfor %}
                                <form action="{% url 'add_gate' %}" method="POST">
                                {% csrf_token %}
                                <tr>
                                  <td></td>
                                  <td><input type="text" class="form-control" id="gate_name" name='gate_name' placeholder="Gate name"></td>
                                  <td>
                                      <select class="form-control" style="width: 100%;" name='status'>
                                        <option selected="selected">Active</option>
                                        <option>Inactive</option>
                                      </select>
                                  </td>
                                  <td>
                                    <select class="form-control" style="width: 100%;">
                                      <option selected="selected">No Cameras Available</option>
                                    </select>
                                  </td>
                                  <td></td>
                                  <td><button type="submit" class="btn btn-primary">Submit</button></td>
                                </tr>
                                </form>
                              </tbody>
                            </table>
                          </div>
                          <!-- /.card-body -->
                        </div>  
                      </div>
                        <div class="tab-pane fade" id="vert-tabs-messages" role="tabpanel" aria-labelledby="vert-tabs-messages-tab">
                          TO be updated shortly!
                        </div>
                        <div class="tab-pane fade" id="vert-tabs-settings" role="tabpanel" aria-labelledby="vert-tabs-settings-tab">
                          TO be updated shortly!
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock %} 
{% block script %}


{% endblock %}
