{% block EntranceForm %}

<!-- Default Size -->
    <div class="modal fade" id="CheckinFormModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="title" id="CheckinFormModalLabel">Add New Vehicle</h4>
                </div>
            <form action={% url "parking" %} method="POST">    
            {% csrf_token %}
                <div class="modal-body"> 
                    <div class="col-sm-12">
                        <input type="hidden" name="action" value="add">
                        {{ CheckinForm }}
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col cancelform" >
                        <button type="button" class="btn btn-danger col-sm-12" data-dismiss="modal">Close</button>
                    </div>
                    <div class="col submitform" >
                        <button type="submit" id="SubmitCheckinFormButton" class="btn btn-primary col-sm-12">Save</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>

{% endblock %}