
{% extends 'DashboardApp/Base.html' %}
{% load static %}

{% block sources %}
  <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock %}

{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <h4 class="text-center display-4">Parked Vehicles</h4>
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 offset-md-0">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#EntranceForm">
                        Add Car
                    </button>
                </div>
            </div> 
            <!-- List of Accounts-->
            <div class="row mt-2">
                <div class="col-md-12 offset-md-0">
                  <!--Entity Table-->
        <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">Parked Vehicles List</h3>
  
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body" style="display: block;" id="entities">
                <table class="table" id="example1">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Ticket Date</th>
                                            <th>Plate Number</th>
                                            <th>Entry Gate</th>
                                            <th>Checkin Date/time</th>
                                            <th>Elapsed</th>
                                            <th>Close Ticket</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for parked_vehicle in parked_vehicles %}
                                        <tr>
                                            <th scope="row">{{forloop.counter}}</th>
                                            <td>{{parked_vehicle.date}}</td>
                                            <td>{{parked_vehicle.plate_number}}</td>
                                            <td>{{parked_vehicle.entry_gate.name}}</td>
                                            <td>{{parked_vehicle.checkin_datetime}}</td>
                                            <td>{{parked_vehicle.format_elapsed}}</td>
                                            <td>
                                                {% comment %} <button class="btn btn-warning mb-3" data-toggle="modal" data-target="#closeTicket" style="color: #ffffff;"> <i class="zmdi zmdi-close"></i> Close Ticket</button>
                                                {% endcomment %}<a href="history/{{parked_vehicle.ticket_id}}/checkout" class="btn-sm btn-warning" role="button" data-bs-toggle="button">Close Ticket</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
              <!-- /.row -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer" style="display: block;">
              Total Parked Vehicles : {{ parked_vehicles.count }}
            </div>
        </div>
                  <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
        </div>

    {% block EntranceForm %}

    {% include 'DashboardApp/ParkingLogs/EntranceForm.html' with EntranceFormContext=EntranceFormContext %}

    {% endblock %}

    </section>
  </div>

{% endblock %}

{% block script %}

<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Select2 -->
<script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>


<script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "colvis"]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });
  </script>

<script>
  $(function () {
    $('.select2').select2()
  });
</script>
{% endblock %}
