{% block EntranceForm %}

<!-- Default Size -->
    <div class="modal fade" id="CheckoutFormModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="title" id="CheckoutFormModalLabel">Checkout Vehicle</h4>
                </div>
            <form action={% url "parking" %} method="POST">    
            {% csrf_token %}
                <div class="modal-body"> 
                    <div class="row">
                        {{ CheckoutForm.action }}
                        {{ CheckoutForm.ticket_id }}
                        <div class="col-sm-2 ">
                            <label>Id</label>
                            {{ CheckoutForm.show_ticket }}
                        </div>
                        <div class="col-sm-4 ">
                            <label>Plate Number</label>
                            {{ CheckoutForm.plate_number }}
                        </div>
                        <div class="col-sm-6 ">
                            <label>Subscription Status</label>
                            {{ CheckoutForm.subscription_id }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Entry Date</label>
                            {{ CheckoutForm.entry_date }}
                            <label>Entry Time</label>
                            {{ CheckoutForm.entry_time }}
                            <label>Entry Gate</label>
                            {{ CheckoutForm.entry_gate }}
                        </div>
                        <div class="col">
                            <label>Exit Gate</label>
                            {{ CheckoutForm.exit_date }}
                            <label>Exit Time</label>
                            {{ CheckoutForm.exit_time }}
                            <label>Exit Gate</label>
                            {{ CheckoutForm.exit_gate }} 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Cost</label>
                            {{ CheckoutForm.cost }}
                        </div>
                        <div class="col-sm-4">
                            <label>payed</label>
                            {{ CheckoutForm.payed }}
                        </div>
                        <div class="col-sm-4">
                            <label>Method</label>
                            {{ CheckoutForm.method }}
                        </div>
                    </div>                    
                </div>
                <div class="modal-footer">
                    <div class="col cancelform" >
                        <button type="button" class="btn btn-danger col-sm-12" data-dismiss="modal">Close</button>
                    </div>
                    <div class="col submitform" >
                        <button type="submit" id="SubmitCheckinFormButton" class="btn btn-primary col-sm-12">Save</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>

{% endblock %}