{% block ConfirmModal %}

<div class="modal fade" id="ConfirmModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
        <h4 class="ConfirmModal title" id="ConfirmModalTitle">Confirmation</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="ConfirmForm"  action="" method="POST">
        {% csrf_token %}
        <div class="modal-body">
          <p>Are you sure you want to proceed?</p>
          <input type="hidden" name="item_id" id="item_id" value="">
          <input type="hidden" name="action" id="ConfirmFormAction" value="delete">
        </div>
        <div class="modal-footer">
            <div class="col" >
                <button type="button" class="btn btn-default col-sm-12" data-dismiss="modal">Close</button>
            </div>
            <div class="col " >
                <button type="submit" id="SubmitConfirmButton" class="btn btn-danger col-sm-12">Proceed</button>
            </div>
        </div>
        </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

{% endblock%}