{% block ConfirmModalDelete %}

<div class="modal fade" id="ConfirmModalDelete">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
        <h4 class="PricingFormModal title" id="PricingFormTitle"> Delete Tarrif</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="DeleteTarrifForm"  action="{% url 'pricing' %}" method="POST">
        {% csrf_token %}
        <div class="modal-body">
          <p>Confirm to proceed deleting Tarrif</p>
          <input type="hidden" name="tarrif_id" id="DeleteTarrifForm-tarrifid" value="">
          <input type="hidden" name="action" value="delete">
        </div>
        <div class="modal-footer">
            <div class="col" >
                <button type="button" class="btn btn-default col-sm-12" data-dismiss="modal">Close</button>
            </div>
            <div class="col " >
                <button type="submit" id="SubmitTarrifFormButton" class="btn btn-danger col-sm-12">Proceed</button>
            </div>
        </div>
        </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

{% endblock%}