{% block PricingForm %}

<!-- Default Size -->
    <div class="modal fade" id="PricingFormModal" tabindex="-1" role="dialog">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="PricingFormModal title" id="PricingFormTitle"> Add New Pricing</h4>
                </div>
                <form id="TariffForm"  action="{% url 'pricing' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="action" id="PricingFormAction" value="add">
                <div class="modal-body"> 
                    <div class="col-sm-12">
                        {{ tarrifForm }}
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col cancelform" >
                        <button type="button" class="btn btn-danger col-sm-12" data-dismiss="modal">Close</button>
                    </div>
                    <div class="col submitform" >
                        <button type="submit" id="SubmitTarrifFormButton" class="btn btn-primary col-sm-12">Save Changes</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

{% endblock%}