
{% extends 'DashboardApp/Base.html' %}
{% load static %}

{% block sources %}
  <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock %}

{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Contact us</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'dashboard_page' %}">Home</a></li>
              <li class="breadcrumb-item active">Contact us</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Profile Content content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src="{% static 'dist/img/user4-128x128.jpg' %}"
                       alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">{{user_profile.full_names}}</h3>
                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Role</b> <a class="float-right"><strong>{{user_profile.role}}</strong></a>
                  </li>
                  <li class="list-group-item">
                    <b>Date Joined</b> <a class="float-right"><strong>{{user_profile.format_date_joined}}</strong></a>
                  </li>
                  <li class="list-group-item">
                    <b>Entries Added</b> <a class="float-right">{{user_profile.total_entries}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Exits Added</b> <a class="float-right">{{user_profile.total_exits}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Subcriptions Added</b> <a class="float-right">{{user_profile.total_subscriptions}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Todays Sales</b> <a class="float-right">{{user_profile.todays_sales}} RWF</a>
                  </li>
                  <li class="list-group-item">
                    <b>Subscriptions Sales</b> <a class="float-right">{{user_profile.subscriptions_sales}} RWF</a>
                  </li>
                  <li class="list-group-item">
                    <b>Overall Sales</b> <a class="float-right">{{user_profile.total_subscriptions}} RWF</a>
                  </li>
              </div>
              <!-- /.card-body -->
              {% if user.is_superuser %}
                  <li class="list-group-item">
                    <a href="#" class="btn btn-danger btn-sm">Deactivate User</a>
                  </li>
              {% endif %}
            </div>
            <!-- /.card -->

            
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#timeline" data-toggle="tab">Recent Acitivity</a></li>
                  {% if user.user_id == user_profile.user_id %}
                  <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">My Profile Settings</a></li>
                  {% endif %}
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <!-- /.tab-pane -->
                  <div class="active tab-pane" id="timeline">
                    <!-- The timeline -->
                    <div class="timeline timeline-inverse">
                      <!-- timeline time label -->
                      <div class="time-label">
                        <span class="bg-info">
                          {{user_profile.format_date_joined}}
                        </span>
                      </div>
                      <!-- /.timeline-label -->
                      <!-- timeline item -->
                      <div>
                        <i class="fas fa-user bg-info"></i>

                        <div class="timeline-item">
                          <span class="time"><i class="far fa-clock"></i> 5 mins ago</span>

                          <h3 class="timeline-header border-0"><a href="#">{{user_profile.full_names}}</a> created an account
                          </h3>
                        </div>
                      </div>
                      <!-- END timeline item -->
                      <!-- /.timeline-label -->
                      <div>
                        <i class="far fa-clock bg-gray"></i>
                      </div>
                    </div>
                  </div>
                  <!-- /.tab-pane -->
                  {% if user.user_id == user_profile.user_id %}
                  <div class="tab-pane" id="settings">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">First Name</label>
                        <div class="col-sm-4">
                          <input type="email" class="form-control" id="first_name" placeholder="First Name">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Last Name</label>
                        <div class="col-sm-4">
                          <input type="email" class="form-control" id="last_name" placeholder="Last Name">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-4">
                          <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Old Password</label>
                        <div class="col-sm-4">
                          <input type="password" class="form-control" id="input_old_password" >
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">New Password</label>
                        <div class="col-sm-4">
                          <input type="password" class="form-control" id="input_new_password" >
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Confirm New Password</label>
                        <div class="col-sm-4">
                          <input type="password" class="form-control" id="input_new_password_2" >
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                          <button type="submit" class="btn btn-danger" id="submit">Save Changes</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  {% endif %}
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

{% endblock %}

{% block script %}

<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Select2 -->
<script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>

{% endblock %}
