{% block AccountForm %}

<!-- Default Size -->
<form method="POST" action="{% url 'add_account' %}">
    {% csrf_token %}
    <div class="modal fade" id="AccountForm" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="title" id="defaultModalLabel"> Add New User</h4>
                </div>
                <div class="modal-body"> 
                    <div class="col-sm-12">
                        <label for="sel1">First Name</label>
                        <div class="form-group col-sm-12">                                    
                            <input id="NameField" name="first_name" type="text" class="form-control" placeholder="First Name">
                        </div>
                        <label for="sel1">Last Name</label>
                        <div class="form-group col-sm-12">                                    
                            <input id="NameField" name="last_name" type="text" class="form-control" placeholder="Last Name">
                        </div>
                        <label for="sel1">Email</label>
                        <div class="form-group col-sm-12">                                   
                            <input id="EmailField" name="email" type="text" class="form-control" placeholder="E-mail">
                        </div>
                        <label for="sel1">Password</label>
                        <div class="form-group col-sm-12">                                   
                            <input id="PasswordField" name="password" type="password" class="form-control" placeholder="Password">
                        </div>
                        <label for="phone_num">Phone Number</label>
                        <div class="form-group col-sm-12">                                   
                            <input id="PhoneNumField" name="phonenum" type="number" class="form-control" placeholder="Phone">
                        </div>
                        <label for="role">Role</label>
                        <select class="form-control" name="role" >
                            <option selected="selected">Cashier</option>
                            <option>Admin</option>
                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary waves-effect">SAVE CHANGES</button>
                    <button type="button" class="btn btn-danger btn-simple waves-effect" data-dismiss="modal">CLOSE</button>
                </div>
            </div>
        </div>
    </div>
</form> 

{% endblock %}